In [33]:
import os
import csv
import pandas as pd

In [34]:
#Reference to Poll csv file
Poll_Path = os.path.join("Resources", "election_data.csv")
Poll_Path_df = pd.read_csv(Poll_Path, encoding="utf-8")
Poll_Path_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [35]:
#Total Votes
Votes = len(Poll_Path_df)
print(Votes)

3521001

In [36]:
#Finding candidates
Candidates=list(Poll_Path_df["Candidate"].unique())
print(Candidates)

['Khan', 'Correy', 'Li', "O'Tooley"]

In [37]:
#Finding votes by candidate
Vote_chart=Poll_Path_df["Candidate"].value_counts()
print(Vote_chart)

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [38]:
Vote_chart_df=pd.DataFrame(Vote_chart)
Vote_chart_df["percent"]=round((Vote_chart_df["Candidate"]/Votes*100),2)
Vote_chart_df

          Candidate  percent
Khan        2218231     63.0
Correy       704200     20.0
Li           492940     14.0
O'Tooley     105630      3.0

In [39]:
Vote_chart_df.dtypes
print(Vote_chart_df.dtypes)

Candidate      int64
percent      float64
dtype: object

In [40]:
Vote_chart_df["percent"]= "%"+ Vote_chart_df["percent"].astype(str)

In [41]:
Vote_chart_df=Vote_chart_df.rename(columns={"Candidate":"Votes", "percent":"Percent"})
chart_df=pd.DataFrame(Vote_chart_df)
chart_df

            Votes Percent
Khan      2218231   %63.0
Correy     704200   %20.0
Li         492940   %14.0
O'Tooley   105630    %3.0

In [42]:
#Finding the Winner
Winner="Khan"
Winner

'Khan'

In [51]:
final_Analysis=pd.DataFrame({"Data":["Total Votes","Winner Votes","Winner Percent", "Winner"],
                            "Results":[str(Votes) ,f'{chart_df.loc["Khan","Votes"]}',
                                     f'{chart_df.loc["Khan","Percent"]}',str(Winner) ]
                            })
final_Analysis

             Data  Results
0     Total Votes  3521001
1    Winner Votes  2218231
2  Winner Percent    %63.0
3          Winner     Khan

In [54]:
final_Analysis.to_csv("Analysis/Final.csv", index=False, header=False)

In [44]:
print("-------------------------------")
print(" ELECTIONS RESULTS")
print("-------------------------------")
print(" Total votes: "+ str(Votes))
print("-------------------------------")
print( f'{chart_df}')
print("-------------------------------")
print(" Winner:   "+   str(Winner))
print("-------------------------------")

-------------------------------
 ELECTIONS RESULTS
-------------------------------
 Total votes: 3521001
-------------------------------
            Votes Percent
Khan      2218231   %63.0
Correy     704200   %20.0
Li         492940   %14.0
O'Tooley   105630    %3.0
-------------------------------
 Winner:   Khan
-------------------------------