In [29]:
import os
import csv
from statistics import mean, median
import pandas as pd

In [30]:
#Reference to Budget csv file
Budget_Path = os.path.join("Resources", "budget_data.csv")
Budget_Path_df = pd.read_csv(Budget_Path, encoding="utf-8")
Budget_Path_df.head()
#how many rows to find how many months
#print(len(Budget_Path_df))

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [31]:
Budget_Path_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [32]:
Budget_Path_df.index

RangeIndex(start=0, stop=86, step=1)

In [33]:
Months = len(Budget_Path_df)
#print(Months)

In [34]:
#Sum of rows Profit/Losses
Net_Total_Amount=Budget_Path_df["Profit/Losses"].sum()
#print(Net_Total_Amount)

In [35]:
#Find the Average amount of total period 
Average_Amount = round(Net_Total_Amount/Months)
#print(Average_Amount)

In [36]:
for index, row in Budget_Path_df.head(n=85).iterrows():

    Budget_Path_df.loc[index+1, "Month Change"]=Budget_Path_df.loc[index+1,"Profit/Losses"]- Budget_Path_df.loc[index,"Profit/Losses"]
Budget_Path_df

        Date  Profit/Losses  Month Change
0   Jan-2010         867884           NaN
1   Feb-2010         984655      116771.0
2   Mar-2010         322013     -662642.0
3   Apr-2010         -69417     -391430.0
4   May-2010         310503      379920.0
..       ...            ...           ...
81  Oct-2016         102685     -665765.0
82  Nov-2016         795914      693229.0
83  Dec-2016          60988     -734926.0
84  Jan-2017         138230       77242.0
85  Feb-2017         671099      532869.0

[86 rows x 3 columns]

In [37]:
Budget=Budget_Path_df.fillna(0)
Budget

        Date  Profit/Losses  Month Change
0   Jan-2010         867884           0.0
1   Feb-2010         984655      116771.0
2   Mar-2010         322013     -662642.0
3   Apr-2010         -69417     -391430.0
4   May-2010         310503      379920.0
..       ...            ...           ...
81  Oct-2016         102685     -665765.0
82  Nov-2016         795914      693229.0
83  Dec-2016          60988     -734926.0
84  Jan-2017         138230       77242.0
85  Feb-2017         671099      532869.0

[86 rows x 3 columns]

In [38]:
Average_Change=Budget["Month Change"].sum()
Average_Change

-196785.0

In [39]:
Y_change= Average_Change/(Months-1)
Year_change=round(Y_change,2)
Year_change

-2315.12

In [40]:
Greatest_Increase = max(Budget["Month Change"])
print(Greatest_Increase)

1926159.0

In [41]:
Gest_I_Month = Budget.loc[Budget["Month Change"] == Greatest_Increase, :]
Gest_I_Month

        Date  Profit/Losses  Month Change
25  Feb-2012        1170593     1926159.0

In [42]:
Greatest_Decrease = min(Budget["Month Change"])
print(Greatest_Decrease)

-2196167.0

In [43]:
Gest_D_Month = Budget.loc[Budget["Month Change"] == Greatest_Decrease, :]
Gest_D_Month

        Date  Profit/Losses  Month Change
44  Sep-2013       -1196225    -2196167.0

In [44]:
Gest_Increase=f'{Gest_I_Month.loc[25,"Date"]} ${Gest_I_Month.loc[25,"Month Change"]}'
Gest_Increase

'Feb-2012 $1926159.0'

In [45]:
Gest_Decrease=f'{Gest_D_Month.loc[44,"Date"]} ${Gest_D_Month.loc[44,"Month Change"]}'
Gest_Decrease

'Sep-2013 $-2196167.0'

In [46]:
Final_Analysis=pd.DataFrame({"Data":["Total Months","Total Profit/Losses","Average Change","Greatest Increase",
                                    "Greatest Decrease"],
                             "Result_Data":[str(Months),str(Net_Total_Amount),str(Year_change), 
                                        str(Gest_Increase), str(Gest_Decrease)]
                            })
Final_Analysis

                  Data           Result_Data
0         Total Months                    86
1  Total Profit/Losses              38382578
2       Average Change              -2315.12
3    Greatest Increase   Feb-2012 $1926159.0
4    Greatest Decrease  Sep-2013 $-2196167.0

In [47]:
Final_Analysis.to_csv("Analysis/Final_Results.csv", index=False, header=False)

In [48]:
print("--------------------------------------------------------------------------------------")
print("      Financial Analysis")
print("--------------------------------------------------------------------------------------")
print("Total Months:     " +str(Months))
print("Total:            " +str(Net_Total_Amount))
print("Average Change:   " +str(Year_change))
print(f'Greatest Increase: {Gest_I_Month.loc[25,"Date"]} ${Gest_I_Month.loc[25,"Month Change"]}')
print(f'Greatest Decrease: {Gest_D_Month.loc[44,"Date"]} ${Gest_D_Month.loc[44,"Month Change"]}')
print("----------------------------------------------------------------------------------------")

--------------------------------------------------------------------------------------
      Financial Analysis
--------------------------------------------------------------------------------------
Total Months:     86
Total:            38382578
Average Change:   -2315.12
Greatest Increase: Feb-2012 $1926159.0
Greatest Decrease: Sep-2013 $-2196167.0
----------------------------------------------------------------------------------------