In [67]:
import os
import csv
from statistics import mean, median
import pandas as pd

In [68]:
#Reference to Budget csv file
Budget_Path = os.path.join("Resources", "budget_data.csv")
Budget_Path_df = pd.read_csv(Budget_Path, encoding="utf-8")
Budget_Path_df.head()
#how many rows to find how many months
#print(len(Budget_Path_df))

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [69]:
Budget_Path_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [70]:
Budget_Path_df.index

RangeIndex(start=0, stop=86, step=1)

In [71]:
Months = len(Budget_Path_df)
print(Months)

86

In [72]:
#Sum of rows Profit/Losses
Net_Total_Amount=Budget_Path_df["Profit/Losses"].sum()
#print(Net_Total_Amount)
print(Net_Total_Amount)

38382578

In [73]:
#Find the Average amount of total period 
Average_Amount = round(Net_Total_Amount/Months)
#print(Average_Amount)
print(Average_Amount)

446309

In [74]:
for index, row in Budget_Path_df.head(n=85).iterrows():

    Budget_Path_df.loc[index+1, "Month Change"]=Budget_Path_df.loc[index+1,"Profit/Losses"]- Budget_Path_df.loc[index,"Profit/Losses"]
Budget_Path_df

        Date  Profit/Losses  Month Change
0   Jan-2010         867884           NaN
1   Feb-2010         984655      116771.0
2   Mar-2010         322013     -662642.0
3   Apr-2010         -69417     -391430.0
4   May-2010         310503      379920.0
..       ...            ...           ...
81  Oct-2016         102685     -665765.0
82  Nov-2016         795914      693229.0
83  Dec-2016          60988     -734926.0
84  Jan-2017         138230       77242.0
85  Feb-2017         671099      532869.0

[86 rows x 3 columns]

In [75]:
Budget=Budget_Path_df.fillna(0)
Budget

        Date  Profit/Losses  Month Change
0   Jan-2010         867884           0.0
1   Feb-2010         984655      116771.0
2   Mar-2010         322013     -662642.0
3   Apr-2010         -69417     -391430.0
4   May-2010         310503      379920.0
..       ...            ...           ...
81  Oct-2016         102685     -665765.0
82  Nov-2016         795914      693229.0
83  Dec-2016          60988     -734926.0
84  Jan-2017         138230       77242.0
85  Feb-2017         671099      532869.0

[86 rows x 3 columns]

In [76]:
Average_Change=Budget["Month Change"].sum()
Average_Change

-196785.0

In [79]:
Y_change= Average_Change/(Months-1)
Year_change=round(Y_change,2)
Year_change

-2315.12

In [46]:
Greatest_Increase = max(Budget["Month Change"])
print(Greatest_Increase)

1926159.0

In [104]:
Gest_I_Month = Budget.loc[Budget["Month Change"] == Greatest_Increase, :]
Gest_I_Month

        Date  Profit/Losses  Month Change
25  Feb-2012        1170593     1926159.0

In [105]:
Greatest_Decrease = min(Budget["Month Change"])
print(Greatest_Decrease)

-2196167.0

In [106]:
Gest_D_Month = Budget.loc[Budget["Month Change"] == Greatest_Decrease, :]
Gest_D_Month

        Date  Profit/Losses  Month Change
44  Sep-2013       -1196225    -2196167.0

In [109]:
print("--------------------------------------------------------------------------------------")
print("      Financial Analysis")
print("--------------------------------------------------------------------------------------")
print("Total Months:     " +str(Months))
print("Total:            " +str(Net_Total_Amount))
print("Average Change:   " +str(Year_change))
print(f'Greatest Increase: {Gest_I_Month.loc[25,"Date"]} ${Gest_I_Month.loc[25,"Month Change"]}')
print(f'Greatest Decrease: {Gest_D_Month.loc[44,"Date"]} ${Gest_D_Month.loc[44,"Month Change"]}')
print("----------------------------------------------------------------------------------------")

--------------------------------------------------------------------------------------
      Financial Analysis
--------------------------------------------------------------------------------------
Total Months:     86
Total:            38382578
Average Change:   -2315.12
Greatest Increase: Feb-2012 $1926159.0
Greatest Decrease: Sep-2013 $-2196167.0
----------------------------------------------------------------------------------------